.game-board {
  padding: 5rem;
}

.rows {
  display: flex;
}

.rows:nth-child(1) .blocks:nth-child(1) button {
  border-bottom: 6px solid #4dbbe7;
  border-right: 6px solid #4dbbe7;
}

.rows:nth-child(1) .blocks:nth-child(2) button {
  border-bottom: 6px solid #4dbbe7;
  border-right: 6px solid #4dbbe7;
}

.rows:nth-child(1) .blocks:nth-child(3) button {
  border-bottom: 6px solid #4dbbe7;
}

.rows:nth-child(2) .blocks:nth-child(1) button {
  border-bottom: 6px solid #4dbbe7;
  border-right: 6px solid #4dbbe7;
}

.rows:nth-child(2) .blocks:nth-child(2) button {
  border-bottom: 6px solid #4dbbe7;
  border-right: 6px solid #4dbbe7;
}

.rows:nth-child(2) .blocks:nth-child(3) button {
  border-bottom: 6px solid #4dbbe7;
}

.rows:nth-child(3) .blocks:nth-child(1) button {
  border-right: 6px solid #4dbbe7;
}

.rows:nth-child(3) .blocks:nth-child(2) button {
  border-right: 6px solid #4dbbe7;
}

.blocks {
  height: 8.2rem;
  width: 8.2rem;
  transition: all 0.2s ease-in;
  border-radius: 40%;
}

.blocks:hover {
  background-color: #4dbbe748;
  border-radius: 50%;
}

.blocks button {
  cursor: pointer;
  color: #4dbbe7;
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
  font-size: 4.2rem;
  font-weight: 700;
}
